<!-- <div class="container-fluid">
    <h2>Create Post</h2>
    
    <form #postForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

       -->
    <!-- {{ postForm.value | json }} -->

    <hr>

    <!-- {{postModel | json }} -->

      <!-- <div class="form-group">
        <label>Post Title</label>
        <input type="text" #post_title="ngModel" required class="form-control" [class.is-invalid]="post_title.invalid && post_title.touched" name="post_title" [(ngModel)]="postModel.post_title">
        <small class="text-danger" [class.d-none]="post_title.valid || post_title.untouched">Post Title is required</small>
      </div>
  
      <div class="form-group">
        <label>Post Description</label>
        <input type="text" #post_description="ngModel" required class="form-control" [class.is-invalid]="post_description.invalid && post_description.touched" name="post_description" [(ngModel)]="postModel.post_description">
        <small class="text-danger" [class.d-none]="post_description.valid || post_description.untouched">Post Description is required</small>
      </div>
      
      <hr>
  
      <button class="btn btn-outline-dark" type="submit">Submit form</button>

      <br><br>
    </form>

    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
    <div class="row"  *ngIf="showMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
            <strong>Post Creation Success!</strong> Please click here to <a href>create new post</a>
        </p>
      </div>
    </div>
  </div> -->



<!-- NEW HRUTVIK CODE FOR UI -->
<body class="bgimage">
  <div class="container-fluid p-5">
      <h2 class="display-1 text-light">Create a new post</h2>
      
      <form #postForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
  
        
      <!-- {{ postForm.value | json }} -->
  
      <hr>
  
      <!-- {{postModel | json }} -->
  
        <div class="form-group">
          <label class="lead text-light">Post Title</label>
          <input type="text" #post_title="ngModel" required class="form-control" [class.is-invalid]="post_title.invalid && post_title.touched" name="post_title" [(ngModel)]="postModel.post_title">
          <small class="text-danger" [class.d-none]="post_title.valid || post_title.untouched">Post Title is required</small>
        </div>
    
        <div class="form-group">
          <label class="lead text-light">Post Description</label>
          <input type="text" #post_description="ngModel" required class="form-control" [class.is-invalid]="post_description.invalid && post_description.touched" name="post_description" [(ngModel)]="postModel.post_description">
          <small class="text-danger" [class.d-none]="post_description.valid || post_description.untouched">Post Description is required</small>
        </div>
        
        <hr>
    
        <button class="btn btn-outline-light" type="submit"><i class="bi bi-file-earmark-plus-fill"></i>   Create Post</button>
  
        <br><br>
      </form>
  
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <div class="row"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success lead">
              <strong>Post Creation Success!</strong> Please click here to go to <a routerLink="/main">main page</a>
          </p>
        </div>
      </div>
    </div>
  </body>
  <br>

  <!--  -->