
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/main">Gamezone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/main">Home</a>
        </li>

        <!-- Angular code -->
        <div *ngIf="isLogggedIn; then userLogged else userNotLogged"></div>
        <ng-template #userLogged>
          <li class="nav-item">
            <button (click)="onLogoutClick()" class="btn btn-link nav-link">Logout</button>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/my-post">View My posts</a>
          </li>


          <li class="nav-item">
            <!-- <a class="nav-link" href="/my-post">View My posts</a> -->
            <small class="nav-link">Welcome, <b>{{current_user}}</b> </small>
          </li>


          <!-- <div *ngIf="isLogggedIn; then userLogged else userNotLogged">
          <small>Welcome {{current_user}}</small>
          </div>
          <ng-template #userLogged> <small>Welcome {{current_user}}</small> </ng-template>
          <ng-template #userNotLogged>Not logged in</ng-template> -->
        
        </ng-template>
        <ng-template #userNotLogged>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        </ng-template>
        <!-- Angular code -->

      </ul>
<!-- 
      <span class="navbar-text">
        <a href="new-discussion">New Post</a>
      </span> -->


      <!-- Angular code -->
        <div *ngIf="isLogggedIn; then userLoggedIn else userNotLoggedIn"></div>
        <ng-template #userLoggedIn>
          <span class="navbar-text">
            <a routerLink="new-discussion">New Post</a>
          </span>
        </ng-template>
        <ng-template #userNotLoggedIn>
          <span class="navbar-text">
            <a routerLink="login">Login to create new post</a>
          </span>
        </ng-template>
      <!-- Angular code -->

    </div>
  </div>
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    <router-outlet></router-outlet>
    <!-- <app-post-list></app-post-list> -->
    </div>

    <!-- <div class="col-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus earum eius recusandae. Sint vel asperiores consequuntur itaque et, provident blanditiis quis voluptatibus, placeat voluptas magnam odit dolores, dolor eius molestiae!
    </div> -->

  </div>
</div>





<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container-fluid p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Discuss about your favorite games here.
      </p>
    </section>
    <!-- Section: Text -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="#">Gamezone</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

